.image-wrap {
  width: 80%;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}

.specific-movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text-info {
  width: 80%;
  text-align: center;
}

.image-wrap>img{
  width: 100%;
}

#title-box{
  background: #731414;
  border-radius: 0px 0px 10px 10px;
  padding: 15px 0px 15px 0px;
  text-transform: uppercase;
}

.description-box{
  border: solid #ffffff 4px;
  border-top: 0px;
  border-radius: 0px 0px 10px 10px;
  padding: 15px;
}
