  @import url("https://use.typekit.net/vio3ogt.css");

/*--Variables--*/
:root {
  --white:#FFFFFF;
  --black:#000000;
  --red:#8D1B1B;
  --blue:#18264F;
  --font:'navigo', sans-serif;
}
/* -- Global Rules -- */
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family:var(--font);
}
main {

}

section {

}
