.spoilerArticle {

}

.statement {
  background-color: var(--red);
  border: 2px solid white;
}

.spoilerGrid {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 1em;
  margin-right: 1em;

}

.spoilerGrid img {
width: 100%;
position: relative;
height: 250px;
overflow: hidden;
}
