.spoilerArticle {
  display: grid;

}

.spoilerArticle h1 {
margin-left: .5em;
margin-bottom: 2em;
}

.statement {
  background-color: var(--red);
  border: 2px solid white;
  padding: 6px;

}

.spoilerGrid {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 1em;
  margin-right: 1em;
  overflow: hidden;

}

.spoilerGrid img {
display: block;
width: 100%;
margin:3% 0 -60% 0;
}

.answers {
position: relative;
z-index: 999;
margin-left: 1em;
list-style: none;
}
